asgiref==3.8.1
colorama==0.4.6
Django==5.0.4
django-cors-headers==4.3.1
djangorestframework==3.15.1
exceptiongroup==1.2.0
expo==0.1.2
iniconfig==2.0.0
npm==0.1.1
optional-django==0.1.0
packaging==24.0
pluggy==1.4.0
pytest==8.1.1
sqlparse==0.5.0
tomli==2.0.1
typing_extensions==4.11.0
tzdata==2024.1
